spring:
  h2:
    console:
      path: /h2
      enabled: true
      settings:
        web-allow-others: true
  datasource:
    url: jdbc:h2:~/monitoring;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    driver-class-name: org.h2.Driver

  flyway:
    user: sa
    password:
    url: jdbc:h2:~/monitoring
    enabled: true